<?xml version="1.0"?>
<config>
    <modules>
        <GaugeInteractive_MergeMinify>
            <version>1.0.0</version>
        </GaugeInteractive_MergeMinify>
    </modules>
    <global>
        <helpers>
            <mergeminify>
                <class>GaugeInteractive_MergeMinify_Helper</class>
            </mergeminify>
            <core>
                <rewrite>
                    <data>GaugeInteractive_MergeMinify_Helper_Core_Data</data>
                </rewrite>
            </core>
        </helpers>
        <models>
            <mergeminify>
                <class>GaugeInteractive_MergeMinify_Model</class>
            </mergeminify>
            <core>
                <rewrite>
                    <layout_update>GaugeInteractive_MergeMinify_Model_Core_Layout_Update</layout_update>
                </rewrite>
            </core>
        </models>
    </global>
    <default>
        <dev>
            <js>
                <closure_compiler_level>WHITESPACE_ONLY</closure_compiler_level>
            </js>
        </dev>
    </default>
</config>
